.Box-info{
    border: 1px solid #d3d3d3;
    border-radius: 5px; 
    justify-content: center;
    width: 218px;
    height:126px;
    margin: 4px;
    padding: 8px 12px 12px 12px;
}
.Box-title{
    font-size: 14px;
    font-weight: 500;
    color: #000000d9;
}
