@use "../../style/abstract/" as *;
.MuiGrid-item {
    padding: 0 !important;
}

.category {
    background-color: #fff;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section1,
#section2 {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

#section2 {
    background-color: #f5f5fa;
    &__heading {
        padding: 16px 16px 8px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px
    }
}

section {
    margin-top: 1rem;
    border-radius: 4px;
    background-color: #fff;
}

.section {
    &__heading {
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 20px;
        display: flex;
        height: 28px;
        gap: 8px;
        align-items: center;
        a {
            color: $main-color;
        }
    }
}

.img__thuonghieu2 {
    img {
        position: relative;
    }
    p {
        font-size: 14px;
        color: $main-color;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
}

#slider-thuonghieu1 .swiper-pagination {
    position: initial !important;
}

#slider-khuyenmai,
#slider-thuonghieu1 {
    .swiper-button-prev {
        width: 32px;
        height: 56px;
        padding: 8px 0;
        opacity: .5;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 0 4px 4px 0px;
        left: 0;
        &::after {
            font-size: 2rem;
            color: #fff;
        }
    }
    .swiper-button-next {
        width: 32px;
        height: 56px;
        padding: 8px 0;
        opacity: .5;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 4px 0px 0px 4px;
        right: 0;
        &::after {
            font-size: 2rem;
            color: #fff;
        }
    }
    &:hover {
        .swiper-button-next {
            opacity: 1;
        }
        .swiper-button-prev {
            opacity: 1;
        }
    }
}

#slider-thuonghieu1 {
    .swiper-button-prev {
        transform: translateY(-25%);
        &:hover {
            opacity: 1 !important;
        }
    }
    .swiper-button-next {
        transform: translateY(-25%);
        &:hover {
            opacity: 1 !important;
        }
    }
    &:hover {
        .swiper-button-next {
            opacity: .5;
        }
        .swiper-button-prev {
            opacity: .5;
        }
    }
}

#slider-thuonghieu2 {
    .swiper-button-prev {
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        left: 0;
        &::after {
            font-size: 1rem;
            font-weight: 1100;
            color: #666;
        }
    }
    .swiper-button-next {
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        right: 0;
        &::after {
            font-size: 1rem;
            font-weight: 1100;
            color: #666;
        }
    }
    &:hover {
        .swiper-button-prev {
            background-color: #fff;
            border: 1px solid #bbb;
        }
        .swiper-button-next {
            background-color: #fff;
            border: 1px solid #bbb;
        }
        &::after {
            color: #000;
        }
    }
}