@use "./abstract/" as *;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f5f5fa;
}

a {
    text-decoration: none;
    color: #000;
}